@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 17.5px;
    background-position: center;
}

.left-content {
    margin-left: .2rem;
}

h3 {
    margin-bottom: 1rem;
}

.in-content-title {
    padding: 36px;
}

.list-group {
    background-color: #6c757d;
}

#city-search {
    margin-left: 15px;
}

.list-color {
    background-color: #d2d9e2;
}

h5 {
    font-weight: 500;
}
